:root {
  --clr-primary-orange-500: hsl(25, 97%, 53%); /* Primary */

  --clr-neutral-white: hsl(0, 100%, 100%);
  --clr-neutral-grey-500: hsl(217, 12%, 63%);
  --clr-neutral-grey-900: hsl(213, 19%, 18%);
  --clr-neutral-grey-950: hsl(216, 12%, 8%);

  --fs: 0.938em; /* That's 15px */

  --ff-base: "Overpass", sans-serif;

  --fw-light: 100;
  --fw-regular: 400;
  --fw-bold: 900;
}

body {
  color: var(--clr-neutral-white);
  font-family: var(--ff-base);
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-grey-950);
}

main {
  max-width: 25rem;
}
.overpass-font {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-bold);
  font-style: normal;
}

#feedbackContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1.5rem;
  gap: 2rem;

  background: var(--clr-neutral-grey-900);
  background: linear-gradient(
    0deg,
    hsl(231, 11%, 13%) 0%,
    hsl(213, 20%, 18%) 100%
  );
}

.feedbackContainer__logo {
  width: 4rem;
  background-color: var(--clr-neutral-grey-900);
  padding: 0.8rem;
  border-radius: 50%;
}

.feedbackContainer__heading {
  line-height: 1.5;
}

.feedbackContainer__description,
.feedbackResultContainer__description {
  color: var(--clr-neutral-grey-500);
}

.ratings__buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.ratings__singleButton {
  width: 2.5rem;
  background-color: var(--clr-neutral-grey-900);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--clr-neutral-grey-500);
  text-align: center;
}

#feedbackFormBtn {
  background-color: var(--clr-primary-orange-500);
  border-radius: 2rem;
  width: 100%;
  padding: 0.5rem;
  line-height: 1.5;
  cursor: pointer;
}

#feedbackFormBtn:active {
  background-color: var(--clr-neutral-white);
  color: var(--clr-neutral-grey-950);
}

#feedbackFormBtn:disabled {
  cursor: not-allowed;
}

input[type="radio"][name="buttonGroup"] {
  display: none;
}

input[type="radio"][name="buttonGroup"] + label {
  cursor: pointer;
}

input[type="radio"][name="buttonGroup"]:checked + label {
  background-color: var(--clr-primary-orange-500);
  color: var(--clr-neutral-grey-950);
}

#feedbackResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  border-radius: 1.5rem;
  gap: 2rem;
  text-align: center;

  background: var(--clr-neutral-grey-900);
  background: linear-gradient(
    0deg,
    hsl(231, 11%, 13%) 0%,
    hsl(213, 20%, 18%) 100%
  );
}

.feedbackResultContainer__value {
  padding: 0.5rem;
  border-radius: 1.5rem;

  color: var(--clr-primary-orange-500);
  background-color: var(--clr-neutral-grey-900);
}
