:root {
  --clr-primary-orange-500: hsl(25, 97%, 53%); /* Primary */

  --clr-neutral-white: hsl(0, 100%, 100%);
  --clr-neutral-grey-500: hsl(217, 12%, 63%);
  --clr-neutral-grey-900: hsl(213, 19%, 18%);
  --clr-neutral-grey-950: hsl(216, 12%, 8%);

  --fs: 0.938em; /* That's 15px */

  --ff-base: "Overpass", sans-serif;

  --fw-light: 100;
  --fw-regular: 400;
  --fw-bold: 900;
}

.overpass-font {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-bold);
  font-style: normal;
}

body {
  background-color: #141518;
  color: var(--clr-neutral-white);
}
